<html>

<head>
    <%- style%>
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <title>
        <%= title%>
    </title>
   
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <!-- partials and layouts -->

    <section id="header">
        <%- include('_header'); -%>
    </section>

    <section id="body">
        <script>
        <% if (flash.sucess && flash.sucess.length > 0) { %>
                new Noty({

                    theme: 'mint',
                    text: '<%= flash.sucess %>',
                    type: 'success',
                    layout: 'topRight',
                    timeout: 600
                }).show();
        <%}%>

        <% if (flash.error && flash.error.length > 0) { %>
                new Noty({

                    theme: 'mint',
                    text: '<%= flash.error %>',
                    type: 'error',
                    layout: 'topRight',
                    timeout: 600
                }).show();
        <%}%>

        </script>
        <%- body -%>
       
    </section>
   
    <section id="footer">
        <%- include('_footer'); -%>
    </section>
    <%- script%>
</body>

</html>