<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <title><%= title%></title>
    <%- style%>
</head>
<body>
    <!-- partials and layouts -->
    <%- include('_header'); -%>
    
    
    <%- body -%>


    <%- include('_footer'); -%>
</body>
</html>